<form action="/category/add" method="post">
   <h1>Add new category</h1>
   Category name: <input type="text" name="categoryname" id="categoryname" required>
   <br><br>
   Category description: <input type="text" name="description" id="description" required>
   <br><br>
   <input type="submit" value="Add">
</form>